!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    /[if lt IE 9]
      %script(type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
    - $dev= (ART_ENV == "development")? "-dev" : "";
    %link(rel="stylesheet" type="text/css" href="#{get_stylesheet_directory_uri()}/assets/css/site#{$dev}.css")
    %script(type="text/javascript" src="#{get_stylesheet_directory_uri()}/assets/js/vendor.js")
    %script(type="text/javascript" src="#{get_stylesheet_directory_uri()}/assets/js/site#{$dev}.js")
    - wp_head()

  %body(class="#{join(' ', get_body_class())}")
    .container
      - render_yield()
  - wp_footer()
